/* 選取顏色 */
::selection {
  background-color: var(--color-secondary);
}

/* 動畫 */
@keyframes bounce {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(8px);
  }
}

@keyframes wave {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes wave-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* 淡入淡出 */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* google-icon */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* 圖片樣式 */
img {
  display: block;
}

/* 版心居中  */
.container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
}

/* 品牌色 */
html {
  --color-primary-default: #0A2A78;
  --color-primary-light: #2A5BAE;
  --color-primary-dark: #163262;
  --color-secondary: #86C232;
  /* --color-secondary: #FFB300; */

  --color-accent: #C74317;
  --color-black: #191919;
  --color-gray: #7D7D7D;
  --color-light-gray: #F4F4F4;
  --color-white: #fff;
}

/* 頁首 */
.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: var(--color-primary-default);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .header-nav {
  display: none;
}

.main-header .header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: var(--color-primary-default);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .main-header .header-nav {
    display: flex;
    gap: 2em;
  }

  .main-header .header-nav a {
    color: var(--color-white);
    letter-spacing: 0.1em;
    transition: all .5s;
  }

  .main-header .header-nav a:hover {
    color: var(--color-secondary);
    transform: scale(1.1);
  }

  .main-header .header-btn {
    display: flex;
  }

  .main-header .header-btn a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: transparent;
  }

  .main-header .header-btn .order {
    margin-right: 20px;
    width: 132px;
    height: 38px;
    border-radius: 22px;
    color: var(--color-white);
    background-color: var(--color-accent);
    border: 2px solid var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.1em;
    transition: all .3s;
  }

  .main-header .header-btn .order:hover {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
  }

  .main-header .header-btn .cart {
    text-align: center;
    transition: all .3s;
  }

  .main-header .header-btn .cart span {
    color: var(--color-white);
    line-height: 40px;
    font-size: 29px;
  }

  .main-header .header-btn .cart:hover {
    background-color: var(--color-secondary);
  }
}

/* 頁首-white */
.main-header-white {
  background-color: var(--color-white);

  .header-nav a {
    color: var(--color-primary-dark);
  }

  .header-btn .order {
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
  }

  .header-btn .cart span {
    color: var(--color-primary-light);
    transition: all .3s;
  }

  .header-btn .cart:hover span {
    color: var(--color-white);
  }
}

/* 頁首banner */
.header-banner {
  position: relative;
  margin-top: 65px;
  width: 100%;
  /* height: 355px; */
  text-align: center;
}

.header-banner-pic img {
  width: 100%;
}

.header-banner-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* @media screen and (max-width: 1600px) {
  .header-banner {
    background: url(../images/news/banner-curve-sm.svg) no-repeat right 65%, url(../images/news/banner-hashtag.svg) no-repeat 35% 50%, url(../images/news/burger-banner.jpg) no-repeat;
  }
} */

.header-banner-title {
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: var(--color-white);
}

.header-banner-title h3 {
  font-size: 28px;
}

/* 頁尾 */
.main-footer {
  position: relative;
  background-color: var(--color-primary-default);
  color: var(--color-white);
}

.main-footer .container {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-footer-info {
  margin-top: 16.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.footer-social {
  display: flex;
}


.footer-social ul {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-footer .to-top a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 64px;
  height: 64px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-primary-light);
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 40%;
  transition: all .3s;
}

.main-footer .to-top span {
  font-size: 40px;
  line-height: 15px;
}

.main-footer .to-top:hover a {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.main-footer-white {
  background-color: var(--color-white);
  color: var(--color-black);

  .to-top a {
    background-color: var(--color-primary-light);
    color: var(--color-white);
  }
}

/* 字體設定 */
.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-size: 55px;
  line-height: 125%;
  font-weight: 900;
  letter-spacing: 0.05em;
  font-style: normal;
}

body {
  font: 20px/160% "Noto Sans TC", sans-serif;
	color: var(--color-black);
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: var(--color-primary-dark);
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: var(--color-primary-default);
}

.subheading {
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: var(--color-primary-default);
}

.txt-xl {
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: var(--color-black);
}

.txt-lg {
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: var(--color-black);
}

.txt-md {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.txt-md-r {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.txt-sm {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--color-black);
}

.bold {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 160%;
  }

  .subheading {
    font-size: 20px;
    line-height: 160%;
  }
}

/* 按鈕 */

/* large-大按鈕-了解更多 */
.large-btn .more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 181px;
  height: 55px;
  border-radius: 30px;
  color: #fff;
  background-color: var(--color-primary-light);
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all .3s;
}

.large-btn .more span {
  font-size: 30px;
}

.large-btn .more:hover {
  background-color: var(--color-secondary);
}

/* medium-中按鈕 */
.medium-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 205px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  background-color: var(--color-primary-light);
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all .3s;
}

.medium-btn a span {
  font-size: 30px;
}

.medium-btn a:hover {
  background-color: var(--color-secondary);
}


/* small-小按鈕-了解更多 */
.small-btn .more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 148px;
  height: 40px;
  border-radius: 20px;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all .3s;
}

.small-btn .more span {
  font-size: 26px;
}

.small-btn .more:hover {
  background-color: var(--color-secondary);
}

/* google map按鈕 */
.google-map-btn .map {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 194px;
  height: 40px;
  border-radius: 20px;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  font-size: 16px;
  letter-spacing: 0.05em;

  transition: all .3s;
}

.google-map-btn .map span {
  font-size: 26px;
}

.google-map-btn .map:hover {
  background-color: var(--color-secondary);
}

/* 頁數切換按鈕 */
.page-select-btn {
  margin: 16px 0 80px 0;

  ul {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--color-gray);
    border-radius: 50%;
    color: var(--color-gray);
    text-align: center;
    line-height: 37px;
  }

  li:first-child a {
    background-color: var(--color-primary-light);
    border: 1.5px solid var(--color-primary-light);
    color: var(--color-white);
  }
}

/* 數量按鈕 */
.quantity-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  width: 110px;
  height: 40px;
  border: 1px solid var(--color-black);
  border-radius: 10px;
}

.quantity-btn button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  height: 40px;
  color: var(--color-black);
}

.quantity-btn input {
  display: inline-block;
  width: 30px;
  background-color: transparent;
  border: none;
  text-align: center;
}