/* 網頁主視覺 */
.banner {
  margin-top: 65px;
  min-height: 70vh;
  background: url(../images/index/hero-banner.png) no-repeat center center, url(../images/index/hero-line-1.svg) no-repeat #0A2A78;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.banner-title {
  color: var(--color-white);
  font-size: 31px;
}

@media screen and (min-width: 1024px) {
  .banner {
    margin-top: 65px;
    background-size: auto;
    height: 850px;
    position: relative;
  }

  .banner-title {
    font-size: 55px;
    position: absolute;
  }

  .banner-title:first-child {
    left: 205px;
    top: 56px;
  }

  .banner-title:last-child {
    right: 94px;
    bottom: 56px;
  }

}

/* 首頁-品牌故事 */
.index-brand {
  overflow: hidden;
}

.index-story {
  background: url(../images/index/story-curve-03.svg) no-repeat right 25%/22%;
}

.index-story .container {
  align-items: flex-end;
  padding: 120px 0 32px 0;
}

.index-story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  text-align: center;
}

[class^="story-"] img {
  max-width: 100%;
}

.story-draw-1 {
  display: flex;
  justify-content: center;
  animation: bounce 1.5s infinite alternate-reverse;
}

/* .index-story-subtitle {
  margin: 64px 0 56px 0;
} */

.rwd-index-story-txt {
  display: none;
}

/* 首頁-線條插圖 */
.index-story-draw {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.index-story-draw img {
  width: 100%;
}

.index-story-draw .story-draw-2 {
  display: none;
}

@media screen and (max-width: 1200px) {
  .index-story-content {
    text-align: center;
  }

  .index-story-txt {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .index-story {
    background: none;
  }

  .story-draw-2 {
    display: none;
  }

  .index-story-draw {
    align-items: center;
  }

  .index-story-draw .story-curve-1 {
    transform: translateX(-60px) rotate(8deg);
  }

  .index-story-draw .story-draw-2 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .index-story-content {
    gap: 32px;
    margin: 40px 0 20px 0;
  }

  .index-story-draw .story-draw-2 {
    display: none;
  }
}

/* 首頁-品牌理念 */
.index-concept {
  display: flex;
  gap: 4%;
  padding-right: 10%;
}

.index-concept-pic {
  flex: 3;
  display: flex;
}

.index-concept-pic img {
  width: 100%;
  object-fit: cover;
}

.index-concept-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 2;
  padding: 5% 0;
}

.index-concept-draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.index-concept-draw img {
  width: 100%;
}

.story-draw-3 {
  animation: up .8s infinite linear alternate-reverse;
}

/* 首頁-嚴選食材 */
.index-ingredient {
  display: flex;
  flex-direction: row-reverse;
  gap: 4%;
  padding-left: 10%;
}

.index-ingredient-pic {
  flex: 3;
  display: flex;
}

.index-ingredient-pic img {
  width: 100%;
  object-fit: cover;
}

.index-ingredient-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
  gap: 32px;
  flex: 1;
}

@media screen and (max-width: 1200px) {
  .index-concept {
    padding-right: 5%;
  }

  .index-ingredient-pic {
    flex: 2;
  }
}

@media screen and (max-width: 1024px) {
  .index-concept-draw {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .index-concept {
    display: block;
    padding: 0;
  }

  .index-concept-content {
    margin: 20px auto;
    align-items: center;
    text-align: center;
    width: 85%;
    gap: 16px;
  }

  .index-concept-draw {
    align-items: center;
  }

  .index-concept-draw .story-curve-2 {
    display: none;
  }

  .index-concept-draw img {
    margin: 0 auto;
    width: 80%;
  }

  .index-ingredient {
    display: block;
    padding: 0;
  }

  .index-ingredient-content {
    margin: 20px auto;
    align-items: center;
    text-align: center;
    width: 85%;
    gap: 16px;
  }
}

/* 首頁-slogan裝飾 */
.index-slogan-bar {
  padding: 21px 0 20px 0;
  background-color: var(--color-primary-default);
  color: #fff;
  text-align: center;
  letter-spacing: 0.15em;
  overflow: hidden;
  white-space: nowrap;
}

.index-slogan-bar p {
  animation: scroll 15s infinite linear;
}

.index-slogan-bar-1 {
  background-color: var(--color-secondary);
}

/* 首頁-聯名餐點&最新消息 */
.index-meal_news {
  padding: 96px 0 122px 0;
  background: url(../images/index/bg-logo.svg) no-repeat center 380px;
}

/* 首頁-營養師聯名餐點 */
.index-meal.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto 140px;
  position: relative;
}

.index-meal .title {
  margin-bottom: 45px;
  text-align: center;
}

.burger-slider {
  width: 100%;
  padding-top: 88px;
  padding-bottom: 70px;
  margin-bottom: 10px;
  overflow: hidden;
}

.burger-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  transition: all 0.5s;
  transform: scale(0.85);
}

.burger-list-pic img {
  width: 100%;
  max-width: 395px;
  height: auto;
  object-fit: contain;
}

.burger-slider .subheading {
  color: var(--color-black);
}

/* --- Active 狀態 */
.swiper-slide-active.burger-item {
  transform: scale(1.4);
  z-index: 10;
}

.swiper-slide-active.burger-item h3 {
  font-size: 24px;
}

.swiper-slide-active.burger-item p {
  font-size: 16px;
}

/* --- 裝飾圖 --- */
.burger-list-deco {
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.swiper-slide-active .burger-list-deco {
  opacity: 1;
}

/* 裝飾圖定位 */
.burger-list-deco img {
  position: absolute;
  top: 0;
  animation: wave-1 .8s infinite alternate;
}

.curve-01 {
  left: -30px;
  width: 25%;
}

.curve-02 {
  right: 20px;
  width: 12%;
}

/* 手機版分頁圓點按鈕 */
.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet {
  background: var(--color-primary-light) !important;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: var(--color-secondary) !important;
  opacity: 1;
  width: 24px;
  border-radius: 6px;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  border-radius: 50%;
  font-weight: 900;
  transition: all .3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-secondary);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px;
}

.index-meal .large-btn a {
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .curve-01 {
    left: -50px;
  }

  .curve-02 {
    right: -10px;
    width: 12%;
  }

  .swiper-slide-active.burger-item {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 1024px) {
  .curve-01 {
    left: -25px;
  }

  .curve-02 {
    right: 38px;
    width: 10%;
  }

  .swiper-pagination {
    display: block;
  }

  .burger-item .burger-name-info {
    margin-bottom: 10px;
  }

  .burger-slider {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-slide-active.burger-item {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 768px) {
  .curve-01 {
    left: 0;
  }

  .curve-02 {
    right: 75px;
  }

  .swiper-slide-active.burger-item {
    transform: scale(1.1);
  }

  .burger-item .burger-name-info {
    margin-bottom: 0;
  }
}

/* 首頁-最新消息 */
.index-news-title {
  margin-bottom: 80px;
  text-align: center;
}

.index-news-list {
  margin-bottom: 88px;
}

.index-news-list li {
  transition: all .5s;
}

.index-news-list li:hover {
  transform: translateY(-10px);
}

.index-news-list li a {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.index-news-pic img {
  width: 100%;
}

.index-news .large-btn a {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .index-news-list {
    margin-bottom: 72px;
  }

  .index-news-list ul {
    justify-content: center;
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .index-news-list li {
    margin-bottom: 24px;
  }
}

/* 最新消息頁 ===================  */
.news {
  padding-top: 80px;
}

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.news-list li {
  width: 100%;
}

.news-list .news-pic img {
  width: 100%;
}

.news-list .row {
  justify-content: center;
  gap: 40px;
}

.news-list .news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.news-content .news-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news-type {
  width: 80px;
  height: 32px;
  color: var(--color-accent);
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  position: absolute;
  right: 0;
}

.news-page-select-btn {
  margin-top: 80px;
}

/* 門市資訊頁 =================== */
.store {
  margin-bottom: 88px;
}

.store .row {
  justify-content: space-evenly;
  align-items: flex-end;
}

.store-title {
  margin: 72px 0 40px 0;
  text-align: center;
}

.store-title .libre-franklin {
  font-size: 35px;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: var(--color-primary-dark);
}

.store-contact-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 22px 0 48px 0;
}

.store-name-list ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.store-name-list li {
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.store-name-list .name-active {
  border-bottom: 3px solid var(--color-primary-light);
}

.store-name-list .name-active a {
  color: var(--color-primary-light);
}

.store-name-list li a {
  color: #7D7D7D;
}

.store-content {
  display: none;
  animation: fade-in .8s ease;
}

.store-content.show {
  display: block;
}

.store-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}

.store-info-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.store-pic img {
  width: 100%;
}

.contact-form ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 12px;
  padding: 5px;
  width: 100%;
  height: 40px;
  border: 1px solid #7D7D7D;
  border-radius: 5px;
  outline-color: var(--color-primary-light);
}

.contact-form textarea {
  height: 80px;
  resize: none;
}

.contact-form .submit-btn {
  margin-top: 32px;
  text-align: center;
}

.contact-form .submit-btn a {
  margin: 0 auto;
}

/* 加入我們頁 ===================  */
.brand-introduce ul {
  display: flex;
  flex-direction: column;
}

.brand-introduce ul li {
  display: flex;
}

.brand-introduce-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.brand-introduce-content .txt-sm {
  width: 60%;
}

.brand-introduce-pic {
  width: 50%;
}

.brand-introduce-pic img {
  display: block;
  max-width: 100%;
  height: auto;
}

.brand-recruite {
  padding: 72px 0;
  background-color: var(--color-light-gray);
}

.brand-recruite-pic {
  margin: 16px 0 72px 0;
}

.brand-recruite-pic img {
  max-width: 100%;
}

.join-btn a {
  margin: 0 auto;
}

/* 線上點餐頁 ===================  */
.main-menu {
  margin-top: 153px;
  background: url(../images/order/bg-logo.svg) no-repeat center 40%;
}

.menu-title {
  margin-bottom: 104px;
  color: var(--color-primary-default);
  font-size: 55px;
  letter-spacing: 0.05em;
}

.menu-title .txt-sm {
  margin-left: 45px;
  font: 16px/160% "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
  color: var(--color-black);
}

.menu-select-button ul {
  margin-bottom: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.menu-select-button a {
  display: block;
  width: 136px;
  height: 50px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 48px;
  color: var(--color-primary-dark);

}

.menu-select-button li:first-child a {
  border: 1px solid var(--color-primary-light);
  color: var(--color-white);
  background-color: var(--color-primary-light);
}


.menu-list {
  .menu-list-item {
    margin-bottom: 32px;
    padding: 40px 45px;
    text-align: center;
  }

  .menu-list-item img {
    width: 100%;
    transition: all .3s;
  }

  .menu-list-item:hover img {
    scale: 1.1;
  }

  .menu-list-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: var(--color-black);
  }

  .menu-list-txt .price {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: var(--color-primary-dark);
  }

  .menu-list-txt .burger-eng-name {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}

/* 加入購物車彈窗 */
.add-to-cart {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, .6);
  z-index: 5;
  /* 隱藏設定 */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s ease;
}

.add-to-cart.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.add-to-cart-pop {
  position: relative;
  justify-content: center;
  padding: 64px 0;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, .3);
  background-color: #fff;
}

.add-to-cart-title p {
  color: var(--color-black);
}

.add-to-cart-pic {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 94px;
  background: url(../images/order/add-deco-3.svg) no-repeat 20% 82%/60%;
}

.add-to-cart-pic img {
  max-width: 100%;
}

.add-deco img {
  max-width: 100%;
  animation: wave-1 .8s infinite alternate-reverse;
}

.add-deco-1 {
  position: absolute;
  left: 0;
  top: 40px;
}

.add-deco-2 {
  position: absolute;
  right: 100px;
  top: 40px;
}

.add-to-cart-pull_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 40px;
  border: 1px solid var(--color-black);
  border-radius: 10px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    font-size: 30px;
  }

  button span {
    font-size: 30px;
  }
}

.add-to-cart-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 4.31818%;
}

.add-to-cart-add_on {

  .add_on-title {
    margin-bottom: 8px;
  }

  .add_on-content ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
  }

  .add_on-content ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add_on-content ul li label {
    display: flex;
    align-items: center;
  }

  .add_on-content ul li input {
    margin: 3;
    width: 20px;
    height: 20px;
  }
}

.add-to-cart-price {
  display: flex;
  justify-content: space-between;
}

.add-to-cart-btn {
  display: flex;
  /* justify-content: flex-end; */
}

/* 關閉按鈕 */
.close-btn a {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-primary-light);
  color: var(--color-white);
  border-radius: 20px 0 5px 0;
}

.close-btn a span {
  font-size: 40px;
  line-height: 60px;
}

/* 成功加入購物車彈窗 */
.add-success {
  position: fixed;
  right: 0;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 280px;
  height: 100px;
  background-color: var(--color-secondary);
  border-radius: 20px 0 0 20px;
  color: var(--color-white);
  font-size: 24px;
  z-index: 5;
  transition: all .5s;
  /* 隱藏設定 */
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all .4s;
}

.add-success.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.add-success span {
  font-size: 30px;
}

/* 關於我們 ===================  */
.brand-story {
  margin: 144px 0 160px 0;
  display: flex;
  gap: 5%;
}

.brand-story-pic img {
  display: block;
  width: 100%;
}

.brand-story-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-story-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.brand-concept {
  margin-bottom: 160px;
}

.brand-concept img {
  max-width: 100%;
}

.brand-concept-head {
  justify-content: space-between;
  align-items: center;
}

.brand-concept-head [class^="concept-head"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.brand-concept-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.brand-concept-body [class^="concept-body"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* slogan裝飾條 */
.about-slogan-bar {
  display: flex;
  color: var(--color-white);
}

.about-slogan-bar .left,
.about-slogan-bar .right {
  width: 50%;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: var(--color-secondary);
  white-space: nowrap;
}

.about-slogan-bar .right {
  background-color: var(--color-primary-default);
}

/* 嚴選食材 */
.ingredient {
  margin-top: 120px;
  margin-bottom: 120px;
}

.ingredient-content {
  display: flex;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  text-align: center;
}

.ingredient-content .ingredient-title {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ingredient-pic-list li {
  position: relative;
  overflow: hidden;
}

.ingredient-pic-list img {
  max-width: 100%;
}

.ingredient-pic-list .mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 8px;
  top: 0;
  padding: 50px;
  width: calc(100% - 16px);
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  opacity: 0;
  transition: all .3s;
}

.ingredient-pic-list .mask p {
  color: var(--color-white);
}

.ingredient-pic-list li:hover .mask {
  opacity: 1;
}

/* 通用media區 */
@media screen and (max-width: 1200px) {
  .show-lg {
    display: block;
  }

  .hide-lg {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .show-md {
    display: block;
  }

  .hide-md {
    display: none;
  }
}